@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.bodyIndice {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 40rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../assets/base-fondo-indice-2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url(../assets/base-fondo-indice-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 8rem;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  top: 0; }
  header .logoAros {
    display: flex;
    justify-content: center;
    padding: 0.5rem; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: none;
  list-style: none;
  padding: 1rem; }
  .navBar li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px; }

.cuerpoIndice {
  width: 100%; }

.indice {
  display: none; }

.seccionArticulos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: repeat(3, 25rem);
  grid-template-areas: "articulo1 articulo2 articulo2" "articulo3 articulo3 articulo4" "articulo5 articulo5 articulo5";
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-content: center;
  padding: 2rem; }

.articulo1, .articulo2, .articulo3, .articulo4, .articulo5 {
  grid-area: articulo1;
  position: relative;
  text-align: center; }
  .articulo1 img, .articulo2 img, .articulo3 img, .articulo4 img, .articulo5 img {
    width: 100%;
    height: 100%; }

.articulo2 {
  grid-area: articulo2;
  position: relative;
  text-align: center; }

.articulo3 {
  grid-area: articulo3;
  position: relative;
  text-align: center; }

.articulo4 {
  grid-area: articulo4;
  position: relative;
  text-align: center; }

.articulo5 {
  grid-area: articulo5;
  position: relative;
  text-align: center; }

.descripcionArt {
  width: 100%;
  position: absolute;
  color: #6B6965;
  background-color: rgba(255, 255, 255, 0.65);
  text-transform: capitalize;
  padding: 0.3rem;
  bottom: 0; }
  .descripcionArt h2 {
    font-weight: 300;
    font-size: 22px; }
  .descripcionArt h3 {
    font-weight: 300;
    font-size: 20px; }

.botonbusqueda {
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 2rem; }
  .botonbusqueda input {
    height: 25px;
    width: 300px;
    text-align: center;
    border-radius: 5px; }
  .botonbusqueda button {
    height: 25px;
    width: 55px;
    text-align: center;
    text-transform: capitalize; }

.consultasFrecuentes h2 {
  text-transform: uppercase;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #353535;
  text-align: left;
  margin-left: 200px; }

.consultasFrecuentes div ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .consultasFrecuentes div ul a {
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0.2rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin: 3rem;
    background-color: #efdedeaa;
    color: #6B6965;
    border: 1px solid #6B6965; }

.temasAyuda div h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #353535;
  text-align: left;
  margin-left: 200px; }

.seccionAyuda {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-template-rows: repeat(2, 8rem);
  justify-content: center;
  align-content: center;
  gap: 3.1rem;
  column-gap: 3.1rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .seccionAyuda article {
    background-color: #efdedeaa;
    border: 1px solid #6B6965;
    list-style: none;
    padding: 1.5rem;
    align-content: center; }
    .seccionAyuda article h3 {
      position: relative;
      text-transform: uppercase;
      color: #6B6965;
      font-weight: 600;
      font-size: 14.5px;
      font-family: "Inter", sans-serif;
      text-align: center;
      padding: 0.4rem; }
    .seccionAyuda article a {
      text-decoration: none;
      text-transform: uppercase;
      color: #6B6965;
      font-weight: 300;
      font-size: 10px;
      font-family: "Inter", sans-serif; }

.mainCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.carritoCompras {
  width: 100%;
  font-family: "Inter", sans-serif;
  width: 400px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  color: #6B6965;
  padding: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center; }

.micarrito {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center; }

.seleccionados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.articulo-sel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  border: 1px solid #6B6965; }

.quantity-btn, .lessplus-btn {
  background-color: #EFDEDE;
  color: #333230;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
  margin: 0.5rem; }

.lessplus-btn {
  background-color: #b6b3ab;
  font-size: 20px; }

.seleccionados article img {
  width: 100px;
  height: 75px;
  margin: 0.5rem; }

.seleccionados article p {
  margin: 10px;
  text-align: center;
  color: #6B6965;
  font-size: 14px;
  text-transform: capitalize;
  margin: 1rem; }

.divValores, .divValorestotal {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #6B6965;
  padding: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  text-transform: capitalize; }

.divValorestotal {
  font-weight: bold; }

.comprar {
  font-size: 15px;
  color: #6B6965;
  background-color: #EFDEDE;
  border: 1.5px solid #6B6965;
  padding: 0.5rem; }

.footerIndex {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 0;
  background-color: #D7D2CA;
  bottom: 0;
  position: fixed; }

footer {
  width: 100%;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: 0;
  background-color: #D7D2CA;
  bottom: 0; }

.navFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 8rem; }
  .navFooter li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #6B6965;
    padding-left: 3.1rem; }

.navFollow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem; }
  .navFollow a img {
    width: 1.8rem;
    height: 1.8rem; }

.textoPpal {
  display: none; }

@media (max-width: 1024px) {
  .navBar li a {
    font-size: 22px; }
  /**main ARTICULOS inicio*/
  .seccionArticulos {
    grid-template-columns: repeat(3, 255px);
    grid-template-rows: repeat(3, 255px); }
  .descripcionArt h2 {
    font-size: 19px; }
  .descripcionArt h3 {
    font-size: 19px; }
  /**main ARTICULOS fin*/
  /**main AYUDA inicio*/
  .consultasFrecuentes h2 {
    margin-left: 120px; }
  .consultasFrecuentes div ul a {
    font-size: 14px;
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.7rem;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .temasAyuda div h2 {
    margin-left: 120px; }
  .seccionAyuda {
    grid-template-columns: repeat(4, 11.5rem);
    grid-template-rows: repeat(2, 8rem);
    gap: 2.5rem;
    column-gap: 0.9rem; } }

/**INICIO - MEDIA QUERIES 768px **/
@media (max-width: 768px) {
  .navBar li a {
    font-size: 22px; }
  /**main ARTICULOS inicio*/
  .seccionArticulos {
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px); }
  .descripcionArt h2 {
    font-weight: 300;
    font-size: 15px; }
  .descripcionArt h3 {
    font-weight: 300;
    font-size: 15px; }
  /**main ARTICULOS fin*/
  /**main AYUDA inicio*/
  .consultasFrecuentes h2 {
    margin: 1rem;
    margin-left: 75px; }
  .consultasFrecuentes div ul {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-right: 75px; }
  .consultasFrecuentes div ul a {
    margin: 0.2rem;
    text-align: center; }
  .temasAyuda div h2 {
    margin: 1rem;
    margin-left: 75px; }
  .seccionAyuda {
    grid-template-columns: repeat(3, 11.5rem);
    grid-template-rows: repeat(3, 8rem);
    gap: 2.5rem;
    column-gap: 1.7rem; }
  /**main AYUDA fin*/
  .navFooter li a {
    font-size: 0.8rem;
    padding-left: 2.5rem; }
  .navFollow a img {
    width: 1.2rem;
    height: 1.2rem; } }

/**FIN - MEDIA QUERIES 768px **/
/**INICIO - MEDIA QUERIES 425px **/
@media (max-width: 426px) {
  .bodyIndice {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("../assets/base-fondo-indice.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  body {
    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)), url(../assets/base-fondo-indice.jpg);
    background-repeat: repeat;
    background-size: cover; }
  header {
    height: 20rem; }
  .navBar {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .navBar li {
    margin: 0.5rem; }
  .navBar li a {
    font-size: 18px; }
  /***/
  /**main ARTICULOS inicio*/
  .seccionArticulos {
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(4, 172px);
    grid-template-areas: "articulo1 articulo4" "articulo2 articulo2" "articulo3 articulo3" "articulo5 articulo5"; }
  .descripcionArt h2 {
    font-size: 15px; }
  .descripcionArt h3 {
    font-size: 15px; }
  /**main ARTICULOS fin*/
  /**main AYUDA inicio*/
  .botonbusqueda {
    padding: 1rem; }
  .botonbusqueda input {
    width: 196px; }
  .botonbusqueda button {
    height: 25px;
    width: 55px;
    text-align: center;
    text-transform: capitalize; }
  .consultasFrecuentes h2 {
    text-align: center;
    font-size: 16px;
    margin: 1rem; }
  .consultasFrecuentes div ul {
    display: flex;
    flex-direction: column;
    margin: 1.5rem; }
  .consultasFrecuentes div ul a {
    margin: 0.2rem;
    text-align: center; }
  .temasAyuda div h2 {
    text-align: center;
    font-size: 16px;
    margin: 1rem; }
  .seccionAyuda {
    grid-template-columns: repeat(1, 16rem);
    gap: 0.5rem; }
  /**main AYUDA fin*/
  .navFooter {
    gap: 0rem; }
  .navFooter li a {
    font-size: 0.8rem;
    padding-left: 2.3rem; }
  .navFollow a img {
    width: 1.2rem;
    height: 1.2rem; } }

/**FIN - MEDIA QUERIES 425px **/
