$colores: (
    navbartext: #ffffff,
    articulostext: #6B6965,
    titulosayuda: #353535,
    consultastext:#6B6965,
    footertext: #6B6965,
);
$colorbackround: (
    bfooter: #D7D2CA,
    bayuda: #efdedeaa,
    bcarrito:  rgba(255, 255, 255, 0.7),
);
$fuentes: (
    navbarheight: 24px,
    articulot1:22px,
    articulot2:20px,
    titulosayuda:18px,
);