.mainCarrito{
    @include flex (row, center, center)
    }
    .carritoCompras{
        width: 100%;
        font-family: "Inter", sans-serif;
        width: 400px;
        display: flex;
        flex-direction: column;
        background-color: map-get($colorbackround, bcarrito );
        color:map-get($colores, carritotext );
        padding:1rem;
        margin: 2rem;
        justify-content: center;
        align-items: center;
    
    }
    .micarrito{
        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }
    .seleccionados{
        @include flex (column, center, center);
    }
    .articulo-sel{
        @include flex (row, center, center);
        margin: 0.5rem; 
        border: 1px solid #6B6965;
    
    }
    
    .quantity-btn {
        background-color: map-get($colorbackround, bcarritoboton1 );
        color: #333230;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 18px;
        cursor: pointer;
        margin: 0.5rem;
    
    }
    .lessplus-btn{
        background-color: map-get($colorbackround, bcarritoboton2);
        color: #333230;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        cursor: pointer;
        margin: 0.5rem;
        
    }
    
    .seleccionados article img{
        width: 100px;
        height: 75px;
        margin: 0.5rem;
    }
    .seleccionados article p{
        margin: 10px;
        text-align: center;
        color:map-get($colores, carritotext );
        font-size: 14px;
        text-transform: capitalize;
        margin: 1rem;
    }
    
    .divValores{
        width:400px;
        @include flex (row, space-between, center);
        font-size: 14px;
        color:map-get($colores, carritotext );
        padding: 1rem ;
        padding-top: 5px ;
        padding-bottom: 5px ;
        font-size: 15px;
        text-transform: capitalize;
    }
    .divValorestotal{
        width:400px;
        @include flex (row, space-between, center);
        font-size: 14px;
        color:map-get($colores, carritotext );
        padding: 1rem ;
        padding-top: 5px ;
        padding-bottom: 5px ;
        font-size: 15px;
        text-transform: capitalize;
        font-weight: bold;
    }
    .comprar{
        font-size: 15px;
        color:map-get($colores, carritotext );
        background-color: map-get($colorbackround, bcarritoboton1 );
        border: 1.5px solid #6B6965;
        padding: 0.5rem;
    
    }