.botonbusqueda{
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 2rem;
    input {
        height: 25px;
        width: 300px;
        text-align: center;
        border-radius: 5px;
    }
    button {
        height: 25px;
        width: 55px;
        text-align: center;
        text-transform: capitalize;
    }
}
.consultasFrecuentes {
    h2{ text-transform: uppercase;
        margin-top: 2rem;
        font-size: map-get($fuentes , titulosayuda );
        font-weight:600;
        color: map-get($colores, titulosayuda );
        text-align: left;
        margin-left: 200px; 
    }
    div ul {   
        @include flex (row, center, center);
            a{    
                text-transform: uppercase;
                text-decoration: none;
                list-style: none;
                font-family: "Inter", sans-serif;
                font-size: 14px;
                font-weight: 500;
                padding: 0.2rem;
                padding-left: 1.4rem;
                padding-right: 1.4rem;
                margin: 3rem;
                background-color: map-get($colorbackround , bayuda );
                color: map-get($colores, consultastext );
                border: 1px solid #6B6965;
            }
    }
}

.temasAyuda div h2{
    text-transform: uppercase;
    font-size: map-get($fuentes, titulosayuda );
    font-weight: 600;
    color:map-get($colores, titulosayuda );
    text-align: left;
    margin-left:200px;
}

.seccionAyuda{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 15rem) ;
    grid-template-rows: repeat(2, 8rem) ;
    justify-content: center;
    align-content: center;
    gap: 3.1rem;
    column-gap: 3.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    article{
        background-color:map-get($colorbackround, bayuda );
        border: 1px solid #6B6965;
        list-style: none;
        padding: 1.5rem;
        align-content: center;
        h3{        
            position: relative;
            text-transform: uppercase;
            color:map-get($colores, consultastext );
            font-weight: 600;
            font-size: 14.5px;
            font-family: "Inter", sans-serif;
            text-align: center;
            padding: 0.4rem;}
        a{
            text-decoration: none;
            text-transform: uppercase;
            color:map-get($colores, consultastext );
            font-weight: 300;
            font-size: 10px;
            font-family: "Inter", sans-serif;
            }
    }
}

